<section class="bg-light py-10">
  <div class="container">
    <div id="default d-flex">
      <div class="card mb-4 mt-5">
        <div class="card-header">Aanmelden voor interesse</div>
        <div class="card-body">
          <div class="sbp-preview">
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
