<header class="page-header page-header-dark bg-primary">
  <div class="page-header-content pt-10">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <h1 class="page-header-title mb-3">FAQ</h1>
          <p class="page-header-text">Hier zijn een aantal antwoorden over de meest gestellde vragen</p>
        </div>
      </div>
    </div>
  </div>
  <div class="svg-border-rounded text-light">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
  </div>
</header>
<section class=" bg-light py-10">
  <div class="container">
    <div class="accordion accordion-faq mb-5" id="authAccordion">
      <div class="card border-bottom">
        <div class="card-body">
          <div class="accordion-faq-title">
            <div class="mr-2">
              <h4 class="mb-0">FAQ</h4>
              <p class="card-text text-gray-500">Meest voorkomende vragen op een rij</p>
            </div>
            <!--                  <div class="badge badge-success-soft badge-pill text-success">9 vragen</div>-->
          </div>
        </div>
      </div>
      <div class="card accordion-faq-item">
        <a class="card-header collapsed" id="authHeadingOne" data-toggle="collapse" data-target="#authCollapseOne" aria-expanded="false" aria-controls="authCollapseOne" href="javascript:void(0);">
          <div class="accordion-faq-item-heading">Wat is COVID-19?
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down accordion-faq-item-heading-arrow">
              <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
          </div>
        </a>
        <div class="collapse" id="authCollapseOne" aria-labelledby="authHeadingOne" data-parent="#authAccordion" style="">
          <div class="card-body border-bottom">
            Het nieuwe coronavirus veroorzaakt de ziekte COVID-19. De klachten lijken in het begin vaak op een
            verkoudheid. De ziekte kan een ernstige longontsteking veroorzaken, waar soms ook mensen aan overlijden.
          </div>
        </div>
      </div>
      <div class="card accordion-faq-item">
        <a class="card-header collapsed" id="authHeadingTwo" data-toggle="collapse" data-target="#authCollapseTwo" aria-expanded="false" aria-controls="authCollapseTwo" href="javascript:void(0);">
          <div class="accordion-faq-item-heading">Wat zijn de algemene maatregelen opgesteld door het RIVM?
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down accordion-faq-item-heading-arrow">
              <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
          </div>
        </a>
        <div class="collapse" id="authCollapseTwo" aria-labelledby="authHeadingTwo" data-parent="#authAccordion" style="">
          <div class="card-body border-bottom">
            De belangrijkste maatregelen die je kan nemen om verspreiding van het coronavirus te voorkomen:
            <ul>
              <li>Blijf zoveel mogelijk thuis</li>
              <li>Houd 1,5 meter afstand van anderen</li>
              <li> Was je handen regelmatig met water en zeep</li>
              <li>Hoest en nies in de binnenkant van je elleboog</li>
              <li>Gebruik papieren zakdoekjes</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card accordion-faq-item">
        <a class="card-header collapsed" id="authHeadingThree" data-toggle="collapse" data-target="#authCollapseThree" aria-expanded="false" aria-controls="authCollapseThree" href="javascript:void(0);">
          <div class="accordion-faq-item-heading">Wat zijn de algemene richtlijnen voor mij als ondernemer?
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down accordion-faq-item-heading-arrow">
              <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
          </div>
        </a>
        <div class="collapse" id="authCollapseThree" aria-labelledby="authHeadingThree" data-parent="#authAccordion" style="">
          <div class="card-body border-bottom">
            <ul>
              <li> Regels hangen aan de buitenkant van de winkel en worden binnen herhaald
              </li>
              <li> Zorg dat iedereen 1,5 meter afstand tot elkaar kan houden in de winkels, maar ook vóór de winkel
              </li>
              <li> Geef in winkels het maximum aantal klanten aan dat tegelijkertijd in de winkel mag zijn. Richtlijn is
                maximaal 1 klant per 10 vierkante meter winkelvloeroppervlak
              </li>
              <li> Lever online bestellingen tot aan de voordeur, niet binnen
              </li>
              <li> Zorg voor maximale hygiëne, vooral pinterminal
              </li>
              <li> Haal samples, proeverijen, monsters, probeer artikelen uit winkel, niet inzetten op beleving
              </li>
            </ul>
            Voor ondernemers die 1,5 meter niet kunnen waarborgen
            <ul>
              <li> Werk zoveel mogelijk op afspraak, zodat de klantcontacten gedoseerd kunnen worden
              </li>
              <li> Neem een intake af met de klant, waarin gezondheidsregels worden besproken
              </li>
              <li> Zorg dat de mensen met klantcontact elke ochtend hun temperatuur opmeten (zodat veiligheid klant
                gewaarborgd is)
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card accordion-faq-item">
        <a class="card-header collapsed" id="authHeadingFour" data-toggle="collapse" data-target="#authCollapseFour" aria-expanded="false" aria-controls="authCollapseFour" href="javascript:void(0);">
          <div class="accordion-faq-item-heading">Wat kan ik doen om verspreiding tegen te gaan?
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down accordion-faq-item-heading-arrow">
              <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
          </div>
        </a>
        <div class="collapse" id="authCollapseFour" aria-labelledby="authHeadingFour" data-parent="#authAccordion" style="">
          <div class="card-body border-bottom">
            Goede persoonlijke hygiëne en hygiëne in huis is belangrijk voor het voorkomen van infecties door
            ziektekiemen: bacterie, virus, schimmel of ander micro-organisme waar je ziek van wordt.
            <ul>
              <li> Was je handen regelmatig met water en zeep
              </li>
              <li> Hygiënisch schoonmaken doet u het beste met water en zeep
              </li>
              <li> Desinfecterende middelen zijn vaak niet nodig om infecties te voorkomen
              </li>
              <li> Gebruik een allesreiniger bij het schoonmaken van: de keuken (het aanrecht), de badkamer, de wc
              </li>
              <li> Desinfecterende middelen voor handen of het huishouden bevatten stoffen die werkzaam zijn tegen
                micro-organismen. Denk aan: middelen of doekjes waar “desinfecterend” of “antibacterieel” op staat,
                bleekmiddelen, schimmelverwijderaars of handalcohol
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card accordion-faq-item">
        <a class="card-header collapsed" id="authHeadingFive" data-toggle="collapse" data-target="#authCollapseFive" aria-expanded="false" aria-controls="authCollapseFive" href="javascript:void(0);">
          <div class="accordion-faq-item-heading">Een medewerker is positief getest op COVID-19. Wat moet ik doen?
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down accordion-faq-item-heading-arrow">
              <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
          </div>
        </a>
        <div class="collapse" id="authCollapseFive" aria-labelledby="authHeadingFive" data-parent="#authAccordion" style="">
          <div class="card-body border-bottom">
            <ul>
              <li> Als een werknemer positief is getest, dan is het advies om contact op te nemen met RIVM of uw
                plaatselijke GGD voor verder advies ---Link naar de GGD---.
              </li>
              <li> Afhankelijk van het soort ruimte (kantoortuin of bijvoorbeeld nagelstudio) en sector (horeca of
                bijvoorbeeld advocatenkantoor) moet er gedesinfecteerd worden aan de hand van verschillende
                schoonmaakprotocollen.
              </li>
              <li> Wij bieden u advies op maat. Wilt u meer weten neem dan contact op --link--
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card accordion-faq-item">
        <a class="card-header collapsed" id="authHeadingSix" data-toggle="collapse" data-target="#authCollapseSix" aria-expanded="false" aria-controls="authCollapseSix" href="javascript:void(0);">
          <div class="accordion-faq-item-heading">Kan ik een ruimte zelf ontsmetten?
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down accordion-faq-item-heading-arrow">
              <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
          </div>
        </a>
        <div class="collapse" id="authCollapseSix" aria-labelledby="authHeadingSix" data-parent="#authAccordion" style="">
          <div class="card-body border-bottom">
            Ontsmetten gaat verder dan preventief schoonmaken. Laatstgenoemde kunt u gemakkelijk zelf doen. Bij het
            ontsmetten van een ruimte wordt gewerkt met opgestelde schoonmaakprotocollen uitgegeven door erkende
            brancheorganisaties uit de hygiëne wereld. Het ontsmetten van een ruimte laat u bij voorkeur doen door
            schoonmaakprofessionals die weet wat gedaan moet worden. Op deze manier waarborgt u de veiligheid van uw
            werknemers, klanten en uzelf.
          </div>
        </div>
      </div>
      <div class="card accordion-faq-item">
        <a class="card-header collapsed" id="authHeadingSeven" data-toggle="collapse" data-target="#authCollapseSeven" aria-expanded="false" aria-controls="authCollapseSeven" href="javascript:void(0);">
          <div class="accordion-faq-item-heading">Kan het coronavirus overleven op deurklinkers, touchscreens en andere
            oppervlakten?
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down accordion-faq-item-heading-arrow">
              <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
          </div>
        </a>
        <div class="collapse" id="authCollapseSeven" aria-labelledby="authHeadingSeven" data-parent="#authAccordion" style="">
          <div class="card-body border-bottom">
            Uit onderzoek blijkt dat het coronavirus kan overleven op verschillende materialen. Of dit ook daadwerkelijk
            nieuwe besmettingen kan veroorzaken is nog niet met zekerheid vastgesteld. De belangrijkste besmettingsroute
            blijft via handen en niezen en hoesten. Heb je een contactoppervlak aangeraakt zorg dan dat je niet je
            gezicht
            aanraakt en was je handen direct met water en zeep.
          </div>
        </div>
      </div>
      <div class="card accordion-faq-item">
        <a class="card-header collapsed" id="authHeadingEight" data-toggle="collapse" data-target="#authCollapseEight" aria-expanded="false" aria-controls="authCollapseEight" href="javascript:void(0);">
          <div class="accordion-faq-item-heading">Hoe kan ik voorkomen dat corona in de toekomst een probleem wordt?
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down accordion-faq-item-heading-arrow">
              <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
          </div>
        </a>
        <div class="collapse" id="authCollapseEight" aria-labelledby="authHeadingEight" data-parent="#authAccordion" style="">
          <div class="card-body border-bottom">
            Met een zorgvuldig persoonlijke hygiëne, regelmatig schoonmaken van ruimtes en de 1,5 meter afstand tot
            elkaar
            kunt zelf veel bijdragen aan het voorkomen van besmetting. Toch zal het niet altijd mogelijk zijn zelf alle
            preventieve maatregelen goed door te voeren. Denkt u daarbij aan het schoonmaken van uw kantoorruimte. Dit
            vergt een doordacht opgezet plan met de nodige mankracht. Uiteraard zijn wij graag bereid u hierbij te
            ondersteunen. Neem hiervoor contact --link-- met ons op.
          </div>
        </div>
      </div>
      <div class="card accordion-faq-item">
        <a class="card-header collapsed" id="authHeadingNine" data-toggle="collapse" data-target="#authCollapseNine" aria-expanded="false" aria-controls="authCollapseNine" href="javascript:void(0);">
          <div class="accordion-faq-item-heading">Wat zijn preventieprotocollen?
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down accordion-faq-item-heading-arrow">
              <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
          </div>
        </a>
        <div class="collapse" id="authCollapseNine" aria-labelledby="authHeadingNine" data-parent="#authAccordion" style="">
          <div class="card-body border-bottom">
            In de anderhalvemetersamenleving maken bedrijven en organisaties preventieprotocollen op voor op de
            werkvloer.
            Hiermee wordt een veilige werkomgeving beoogt voor medewerkers en klanten binnen een bedrijf of organisatie.
            De protocollen geven concrete invulling aan de richtlijnen van het RIVM. Dat gaat over afstand houden, over
            hygiëne en over bescherming.Protocollen worden in het algemeen opgesteld door de branchevereniging horend
            bij
            de sector. Daarbij worden zij in veel gevallen ondersteund door de werkgeverskoepels VNO-NCW en MKB
            Nederland.
            Voor gedetailleerde richtlijnen omtrent hygiëne verwijzen wij u naar de branchevereniging van uw sector.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>